.footer {
    background-color: orange;
    height: 300px;
}
h6{
    margin-left: 10px;
    margin-top: 10px;
}


.Tworow{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
    
.icons{
   text-align: center;
}
.inputDetails{
    height: 225px;
    padding-top: 15px;
}
.formRequest{
    padding-top: 30px;
    display: grid;
    padding-left: 50px;
    padding-right: 400px;
}





.button{
    margin-bottom: 10px;
}
/*
.nav{
    height: 100px;
    background-color: lightcoral;
}

.biografia{
    background-color: lightgreen;
    height: 500px;
}
*/
.portfolio{
    height: 450px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card{
    background-color: lightblue;
    height: 400px;
    width: 300px;
    margin: auto;
    position: relative;
}

.card-body{
    position: absolute;
    bottom: 0;
}


