.footer {
    background-color: gainsboro;
    height: 300px;
}
h6{
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
}


.Tworow{
    margin-left: 10px;
    display: flex;
}

.icons{
   text-align: center;
}
.inputDetails{
    
    padding-top: 15px;
}
.formRequest{
   
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
}





