

.biografia{
    background-color: lightgray;
}

.portfolio{
    height: 450px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card{
    height: 400px;
    width: 300px;
    margin: auto;
    position: relative;
}

.card-body{
    position: absolute;
    bottom: 0;
}


.footer {
    background-color: lightgray;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.IDatos {
    margin: 10px;
    padding-top: 10px;
}
.nombre {
    padding-top: 20px;
}

.email{
    display: flex;
    height: 150px;
    
}
.introsol{
    text-align: center;
}
.emailinput{
    display: inline-block;
    padding-top: 40px;
  
}

.solicitud{
    text-align: center;
    
    
}

.icons {
    text-align: center;
}
    
.icons{
   text-align: center;
}
.inputDetails{
    height: 225px;
    padding-top: 15px;
}
.formRequest{
    padding-top: 30px;
    display: grid;
    padding-left: 50px;
    padding-right: 400px;
}

.button{
    margin-bottom: 10px;
}
